body {
  margin: 0;
  background-color: rgb(3,3,3);
  font-family: 'Inter', sans-serif;
}

header {
  display:flex; 
  align-items: center;
  height: 45px;
  
  background-color: rgb(40,40,40);
  margin-bottom: 20px;
}

.home-link {
  text-decoration: none;
  color:aliceblue;
  padding-left: 13px;
}

.App {
  border: 1px dotted blue;
  
  width: 100vw;

}

.posts {
  flex-direction: column; 
  max-width: 700px;
  width: 50%;
  margin: 0 auto;
}

.post {
  font-family: 'Inter', sans-serif;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 13px;

  color: white;
  border:2px solid rgb(60,60,60) ;
  border-radius: 2px;
  background-color: rgb(40,40,40);
  overflow-wrap: break-word; 
}

.post:hover {
  cursor: pointer;
  border:2px solid rgb(90,90,90) ;
}

.post-user {
  margin: 0;
  color: gray;
}

.post-time {
  margin: 0;
  color: gray;
  font-size: 10px;
}

.post-title {
  margin-top: 10px;
  font-size: 20px;
}

.post-body {
  margin-top: 10px;
  font-size: 15px;
}

/* Submit Link*/

.submit-link-container {
  flex-direction: column; 
  max-width: 700px;
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
  height: 30px;
  
  border: 1px dotted red;
  color: white;
  border:2px solid rgb(60,60,60) ;
  border-radius: 5px;
  background-color: rgb(40,40,40);
  padding-top: 10px;
}

.submit-link {
  text-decoration: none;
  padding-left: 13px;
  color: aliceblue;
}

/*Submit Page*/

.submit {
  border: 1px dotted red;
  flex-direction: column; 
  max-width: 700px;
  width: 50%;
  margin: 0 auto;
  color: white;
}

.submit-inputs{
  display: flex;
  flex-direction: column;
}

/* Comment Section */

.comment-container {
  flex-direction: column; 
  max-width: 700px;
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
  
  color: white;
}

.comment-input-container{
  font-family: 'Inter', sans-serif;
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  padding: 13px;
  
  color: white;
  border:2px solid rgb(60,60,60) ;
  border-radius: 2px;
  background-color: rgb(40,40,40);
  overflow-wrap: break-word; 
}

.comment-input {
  height: 90px;
  background-color: rgb(40,40,40);
  border:1px solid rgb(70,70,70) ;
  color:aliceblue;
  
}

.comment-input:hover{
  border:1px solid rgb(150,150,150) ;
}

.comment-button {
  color: rgb(125,125,125);
  margin-top: 10px;
  display: flex;
  padding-left: 15px;
  width: 130px;
  border-radius: 10px;
  background-color: rgb(225,225,225);
}

.comments{
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  padding: 13px;
  color: white;
  border:2px solid rgb(60,60,60) ;
  border-radius: 2px;
  background-color: rgb(40,40,40);
  overflow-wrap: break-word; 
}

.comment-button{
  cursor: pointer;
}
